@import '~@/styles/defs.styl'

html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

button,
input,
select {
  border: 0;
}
button:focus,
input:focus,
select:focus {
  outline: 0;
}

button,
img {
  display: block;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}

* {
  font-family: fonts.body;
}

h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
  font-family: fonts.heading;
}
