<template>
  <Query
    :query="require('@/graphql/q/User.gql')"
    :variables="{ username: $route.params.username }">
    <template slot-scope="{ data: { user: {name, bio, location} } }">
      <div id="wrapper">
        <div id="row">
        <h1 id="name">{{name}}</h1>
        <h2 id="location">{{location}}</h2>
        </div>
        <p id="bio">{{bio}}</p>
      </div>
      </template>
  </Query>
</template>

<script>
export default {
  name: 'Human',
  components: { Query }
}
</script>

<style>
#wrapper {
  width: 80vw;
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
}
#row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px
}
#name {
  color: gray;
}
#location {
  font-size: 1.2em;
}
</style>